
//* TODO things to figure out/fix:
~ why use hero?
~Is there a way to auto-add pages for inclusion in the nav sections instead of mannually adding each time?
~How to change hyper-link color? Shows as standard blue when not clicked, purple when clicked.
*//

*{
margin:0
padding:0
border:0
font-size:inherit;
font-weight:inherit;
font-family: inherit;
text-decoration: inherit;
line-height: inherit;
color:#444;
text-shadow: 1px 1px 0px #fff;
}

body{
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color:#444;
  padding-top: 50px;
  padding-left: 20px;
}

p{
  text-align: left;
}

p:hover{
  background-color: #39AC4E;
  color: white;
  display:inline-block;
  opacity: 50%;
  transition-duration: 5s;
  border-radius: 75%
  padding: 20px;
}

nav{
  text-decoration-style: wavy;
  text-transform: full-width;
  text-align: center;
  list-style-type: none;
  position: fixed;
  top: 0px;
  width: 100%;
  float: right;
  color: blue;
  background-color: #dddddd;
  display: block;
  border-style:none;
}

nav a:hover{
  background-color: #39AC4E;
  color: white;
  display:inline-block;
}

.active{
  color: blue;
  background-color: #F8FBA5;
  border-style:none;
  display:inline-flex;
}

head{
  text-align: center;
}

h1{
  font-size: 36px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
}

h2{
  font-size: 15px;
  line-height:inherit;
  font-style: italic;
  text-align: center;
}

img{
  width: 30%;
  height:auto;
  border-radius: 50%;
  position:static;

}

.center {
  width: 50%;
  margin:auto;
  border: 5px solid black;
  padding: 10px;
}

/*.hero{
  outline: 1px solid red;
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  border-radius: 70%;
}*/
