
*{
margin: 0;
padding:0;
border:0;
font-size:inherit;
font-weight:inherit;
font-family: inherit;
text-decoration: inherit;
line-height: inherit;
/*color:#444;
text-shadow: 1px 1px 0px #fff;*/
}

.content{
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color:#444;
  text-shadow: 1px 1px 0px #fff;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.external-links li{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.external-links li:hover{
  background-color: #e1bee7;
  display:inline-block;
  opacity: 50%;
  border-radius: 75%
  padding: 20px;
  transition: all 2s ease;
  border-radius: 35%;
}

nav{
  text-decoration-style: wavy;
  text-transform: full-width;
  text-align: center;
  list-style-type: none;
  position: fixed;
  top: 0px;
  width: 100%;
  float: right;
  background-color: blue;
  color: blue;
  background-color: #dddddd;
  display: block;
  border-style:none;
}

.active{
  color: blue;
  background-color: #F8FBA5;
  border-style:none;
  display:inline-flex;
}

head{
  text-align: center;
}

h1{
  font-size: 36px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
}

.content h4{
  font-size: 2.00rem;
  line-height:inherit;
  font-style: italic;
  text-align: center;
}

.introItalics {
  font-style: italic;
  text-align: center;
  position: inherit;
}

.highlight {
  color: "yellow";
  background-color: "yellow";
}

h5 {
  line-height:inherit;
  font-style: bold;
  text-align:left;
  padding-top: 10px;
}

p{
  text-align: justify;
}

.picture {
  border-radius: 50%;
  margin:inherit;
  width: inherit;
  float:left;
  padding-right: 10px;
}

.center {
  width: 50%;
  margin:auto;
  border: 5px solid black;
  padding: 10px;
}
